<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-language" content="ja">
  <meta charset="UTF-8">
  <title>html table generator - voidProc.com</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/babel-standalone/babel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-toolbar flat dark>
          <v-toolbar-title>htmltablegen</v-toolbar-title>
        </v-toolbar>

        <v-container grid-list-xl>
          <v-layout column>
            <v-layout>
              <v-flex>
                <v-btn @click="insertRowAbove" class="mt-4">上に行を挿入</v-btn>
                <v-btn @click="insertRowBelow" class="mt-4">下に行を挿入</v-btn>

                <div class="table-container">
                  <table>
                    <tbody>
                      <tr v-for="(row, i) in table" :key="'row-' + i">
                        <td :id="'cell-' + i + '-' + j" v-for="(cell, j) in row" :key="'cell-' + i + '-' + j" contenteditable="true"
                          @blur="setInput($event, i, j)" @input="setInput($event, i, j)" @focus="setFocus(i, j)" :style="'background-color: ' + tdBgColor(i, j)"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </v-flex>
            </v-layout>
            
            <v-layout wrap>
              <v-flex xs12 md6>
                <v-textarea id="htmltext" readonly outlined hide-details rows="10" :value="tableHtml"></v-textarea>
                <v-btn block color="primary" class="mt-2" @click="copyHtml">
                  <v-icon left>mdi-clipboard-outline</v-icon> コピー
                </v-btn>
              </v-flex>
              
              <v-flex xs12 md6>
                <v-card outlined>
                  <v-card-text>
                    <v-text-field hide-details class="my-3" label="行数" v-model="option.rows" type="number"></v-text-field>
                    <v-text-field hide-details class="my-3" label="列数" v-model="option.cols" type="number"></v-text-field>
                    <v-btn class="mb-4" @click="applyTableSize" :disabled="rows == option.rows && cols == option.cols">適用</v-btn>

                    <v-checkbox hide-details label="インデント" v-model="option.enableIndent"></v-checkbox>
                    <v-checkbox hide-details label="TABLEタグを含める" v-model="option.includeTableTag"></v-checkbox>
                    <v-checkbox hide-details label="TBODYタグを含める" v-model="option.includeTbodyTag"></v-checkbox>
                    <v-checkbox hide-details label="TRタグで改行する" v-model="option.breakTr"></v-checkbox>
                    <v-checkbox hide-details label="1行目はTHタグを使用" v-model="option.useTh"></v-checkbox>

                    <v-text-field hide-details class="my-3" label="TABLEタグのクラス名" v-model="option.tableClass"></v-text-field>
                    <v-text-field hide-details class="my-3" label="TRタグのクラス名" v-model="option.trClass"></v-text-field>
                    <v-text-field hide-details class="my-3" label="TDタグのクラス名" v-model="option.tdClass"></v-text-field>
                    <v-text-field hide-details class="my-3" label="THタグのクラス名" v-model="option.thClass"></v-text-field>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>

          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="main.js"></script>
</body>

</html>