body {
    line-height: 1.3em;
}

.table-container {
    margin: 1.5rem 0 1.5rem 0;
}

.table-status {
    color: gray;
    font-size: 90%;
}

table {
    border: solid 1px silver;
    border-collapse: collapse;
}

td, th {
    min-width: 8rem;
    min-height: 2rem;
    padding: 4px;
    border: solid 1px silver;
}

