body {
    line-height: 1.3em;
}

table {
    border: solid 1px silver;
    border-collapse: collapse;
    margin: 2rem 0 2rem 0;
}

td, th {
    min-width: 8rem;
    min-height: 2rem;
    padding: 4px;
    border: solid 1px silver;
}

